.header-container {
  margin-top: 10rem;
  margin-bottom: 4rem;
  text-align: center;
}

.header {
  font-family: var(--header-font);
  font-size: 5rem;
  letter-spacing: 1.25px;
}

.subheader {
  font-weight: 250;
  margin-top: 1.25rem;
}
