.search {
  margin-bottom: 1.5rem;
}

.search-input {
  width: 100%;
  padding: 0.75rem 1rem;
  font-size: 1rem;
  font-family: var(--body-font);
  border: 1px solid #d1d5db;
  border-radius: 8px;
}

.interest-tags {
  margin-bottom: 4rem;
}

.tag {
  background-color: white;
  border: 1px solid #d1d5db;
  border-radius: 999px;
  padding: 6px 12px;
  margin-right: 0.5rem;
  cursor: pointer;
}

.tag-selected {
  background-color: var(--foreground);
  border-color: var(--foreground);
  color: white;
}