.destination-overview {
  max-width: 75%;
  margin-top: 3rem;
  margin: 3rem auto;
  padding-bottom: 10rem;
}

.destination-banner {
  position: relative;
  height: 525px;
  overflow: hidden;
}

.back {
  background-color: white;
  padding: 12px 12px;
  display: inline-block;
  border-radius: 12px;
  margin-left: 2em;
  margin-top: 2em;
  color: var(--foreground);
  text-decoration: none;
}

.back:hover {
  background-color: var(--foreground);
  color: white;
}


.destination-banner h1 {
  font-family: var(--header-font);
  font-size: 6rem;
  letter-spacing: 1px;
  color: white;
}

.destination-header {
  max-width: 75%;
  margin: 12rem auto;
}

.destination-header p {
  color: white;
  font-weight: 400;
  font-size: 1.25rem;
}

.destination-banner-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.destination-overview li {
  list-style: none;
}

/* Highlights */

.highlights-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
  margin-top: 1.5rem;
}

.highlights-image {
  width: 100%;
  height: 240px;
  border-radius: 4px;
}

.destination-detail {
  margin-bottom: 1.5rem;
}

.destination-detail h2 {
  margin-bottom: 0.5rem;
}

.destination-tags {
  margin-bottom: 4rem;
  margin-top: 1rem;
}

.tag {
  background-color: white;
  border: 1px solid #d1d5db;
  border-radius: 999px;
  padding: 6px 12px;
  margin-right: 0.5rem;
}
